* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  background-color: rgb(27, 18, 18);
}

.cube-img div img {
  width: 300px;
  max-width: 70vw;
  height: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  box-shadow: 4px 4px 10px 15px rgb(131, 131, 204);
}

.cube-img {
  position: relative;
  width: 300px;
  max-width: 70vw;
  height: 300px;
  transform-style: preserve-3d;
  animation: spin 20s infinite linear;
  cursor: pointer;
}

.cube-img:hover {
  animation-play-state: paused;
}

.front-img {
  transform: rotateX(0deg) translateZ(150px);
  position: absolute;
}

.back-img {
  transform: rotateX(-180deg) translateZ(150px);
  position: absolute;
}

.right-img {
  transform: rotateY(90deg) translateZ(150px);
  position: absolute;
}

.left-img {
  transform: rotateY(-90deg) translateZ(150px);
  position: absolute;
}

.top-img {
  transform: rotateX(90deg) translateZ(150px);
  position: absolute;
}

.bottom-img {
  transform: rotateX(-90deg) translateZ(150px);
  position: absolute;
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
